<h1 class="text-center mb-3">Public Recipes</h1>

<div class = "public_recipes">
  <% @recipes.each do |recipe| %>
    <div class="card mb-3">
      <div class = "row g-0">
        <div class = "col-md-4">
          <h3 class="card-title ps-3 pt-3"><%= link_to recipe.name, recipe_path(id: recipe.id) %></h3>
          <p class="card-text ps-3">By: <%= recipe.user.name %></p>
        </div>
        <div class = "col-md-8">
          <div class = "card-body">
            <p>Total food items: <%= recipe.recipe_food.count %></p>
            <p>Total price: $</p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>