<h1>Public Recipes</h1>

<div class = "public_recipes">
  <% @recipes.each do |recipe| %>
    <div class = "recipe_container">
      <div class = "recipe_creator">
        <h3><%= link_to recipe.name, recipe_path(id: recipe.id) %></h3>
        <p>By: <%= recipe.user.name %></p>
      </div>
      <div class = "recipe_details">
        <p>Total food items: <%= recipe.recipe_food.count %></p>
        <p>Total price: $<%=recipe.recipe_food.sum { |recipe_food| recipe_food.quantity * recipe_food.food.price }%></p>
      </div>
    </div>
  <% end %>
</div>